/* @font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Regular.woff2") format("woff2"),
       url("../assets/fonts/Pretendard-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/Pretendard-Bold.woff2") format("woff2"),
       url("../assets/fonts/Pretendard-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
} */

@font-face {
  font-family: "Pretendard";
  src: url("../assets/fonts/PretendardVariable.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}